<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png">
    <title>회원가입</title>
</head>

<body>
    <div class="box">
        <div class="container">
            <div id="header"></div>
            <div class="join-box">
                <div class="join-container">
                    <div class="join-logo-box">
                        <img src="/static/image/logo.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>