<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/static/css/board/distributor-board-list.css">
    <title>유통업체 게시판- 목록</title>
</head>

<body>
    <div class="box">
        <div class="container">
            <div class="board-box">
                <div class="header"></div>
                <div class="board-container">
                    <section class="board-section">
                        <div style="margin-right: 4rem;">
                            <section class="board-header">
                                <h1 class="board-header-title">게시판</h1>
                                <div>
                                    <div>
                                        <div class="write-button-box">
                                            <button type="button" class="write-button">글쓰기</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- <ul></ul> -->
                        </div>
                        <div class="board-list-menu-layout">
                            <div class="board-list-menu-box">
                                <!-- <div class="mobile-list-title-box"></div> -->

                                <section class="board-list-menu-container">
                                    <ul class="select-board-menu-ul">
                                        <li class="select-board-menu-li select-board-menu-active">
                                            <a class="board-menu-title" href="#">유통업체 게시판</a>
                                        </li>
                                        <li class="select-board-menu-li">
                                            <a class="board-menu-title" href="#">자유 게시판</a>
                                        </li>
                                        <li class="select-board-menu-li">
                                            <a class="board-menu-title" href="#">문의 게시판</a>
                                        </li>
                                    </ul>
                                </section>
                            </div>

                            <div class="board-content-layout">
                                <div class="search-box">
                                    <div class="search-container">
                                        <div class="search-input-box">
                                            <div class="search-input-container">
                                                <img src="/static/image/serach-icon.png" class="serach-icon">
                                                <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hot-board-content-box">
                                    <h2>지금 가장 인기있는 유통업체🔥</h2>
                                </div>
                                <div class="hot-board-content-slide-box">
                                    <div class="hot-board-content-container">
                                        <div class="hot-board-list-box">

                                            <!-- 6개 필요 -->
                                            <div class="hot-board-content-layout">
                                                <div>
                                                    <article class="hot-content-box">
                                                        <a href="#">
                                                            <img src="https://static.cdn.soomgo.com/upload/review/2872a60b-2589-431f-b925-342ab999d297.jpg?webp=1"
                                                                class="hot-content-img">
                                                            <div class="hot-board-box">
                                                                <h3 class="hot-distributor-name">유통업체 명</h3>
                                                                <p class="hot-distributor-content">
                                                                    내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                                                                <div class="hot-distributor-like-count-box">
                                                                    <span class="hot-distributor-like-count-container">
                                                                        <img src="/static/image/fill-heart.png"
                                                                            class="hot-distributor-like-img">
                                                                        5.0
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </div>
                                            </div>
                                            <!--  -->

                                        </div>
                                    </div>

                                    <button class="hot-board-right-button slide-button"></button>
                                </div>
                                <article class="board-content-box">
                                    <div class="board-content-list-title">
                                        <h2>전체</h2>
                                        <div class="list-order-box">
                                            <div class="list-order-container">
                                                <button type="button" class="list-order-button list-order-button-active">최신순</button>
                                            </div>
                                            <div class="list-order-container">
                                                <button type="button" class="list-order-button">인기순</button>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="board-content-ul">
                                        
                                        <li class="board-content-li">
                                            <a href="#">
                                                <p class="menu-title">유통업체 게시판</p>
                                                <div class="feed-box">
                                                    <div class="feed-container">
                                                        <section>
                                                            <h3 class="content-title">contentTitle</h3>
                                                            <p class="content">
                                                                내용입니다.내용입니다내용입니다내용입니다내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.
                                                            </p>
                                                        </section>
                                                        <p class="content-distributor-name">유통업체 명</p>
                                                    </div>
                                                    <img src="https://static.cdn.soomgo.com/upload/media/aba806e2-7dbc-4b57-ab5e-67acb016dfd0.jpg?h=80&w=80&webp=1"
                                                        class="content-img">
                                                </div>
                                                <div class="like-reply-count-box">
                                                    <div style="display: inherit;">
                                                        <p class="count-box">
                                                            <img src="/static/image/fill-heart.png" class="heart">
                                                            <span class="heart-count">0</span>
                                                        </p>
                                                        <p class="count-box">
                                                            <img src="/static/image/chat-icon.png" class="like">
                                                            <span class="heart-count">0</span>
                                                        </p>
                                                    </div>
                                                    <span class="write-time">1분전</span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </article>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>

</html>