<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/board/distributor-board.css">
    <title>유통업체 게시판 - 상세보기</title>
</head>

<body>
    <div class="box">
        <div class="container">
            <div id="header"></div>

            <div class="board-body">
                <div>
                    <div class="board-header-profile-box">
                        <div class="board-header-profile-blur"></div>
                    </div>
                    <div class="board-container">
                        <div class="board-row">
                            <div class="board-section">
                                <div>
                                    <div class="board-overview">
                                        <div class="board-sumnail-box">
                                            <div class="board-sumnail-border">
                                                <div class="board-sumnail"></div>
                                            </div>
                                        </div>
                                        <div class="board-info-box">
                                            <div class="board-info-header-box">
                                                <h1 class="board-info-name">DIS 유통업체</h1>
                                                <div class="board-info-icon-box">
                                                    <img src="/static/image/no-fill-heart.png" class="heart">
                                                </div>
                                            </div>
                                            <div class="board-address-info-box">
                                                <div class="address">경기도 하남시</div>
                                            </div>
                                            <div class="board-introduce">안녕하십니까?마음이함께 하는ACE익스프레스입니다 10년이상의현장경력과
                                                합리직인견적서비스로 최상의 이사서비스를해드립니다</div>
                                            <div class="board-detail-info-box">
                                                <div class="board-detail-info-container">
                                                    <div class="board-like-count-box">
                                                        <div class="board-like-text board-detail-text-1">좋아요</div>
                                                        <div class="board-like-count-container">
                                                            <img src="/static/image/fill-heart.png" class="full-heart">
                                                            <span>20</span>
                                                        </div>
                                                    </div>
                                                    <div class="board-business-register-date-box">
                                                        <div class="board-detail-text-1">총 경력</div>
                                                        <div class="register-date">2년</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding : 0 1.25rem;">
                                        <ul class="board-menu-box">
                                            <li class="board-menu-active board-menu-li">
                                                <span>업체 정보</span>
                                            </li>
                                            <li class="board-menu-li">
                                                <span>포트폴리오</span>
                                            </li>
                                            <li class="board-menu-li">
                                                <span>댓글</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <!-- <section class="distributor-info-section">
                                            <div class="distributor-info-box">
                                                <div class="distributor-info-title-box">
                                                    <h2 class="info-title">업체 정보</h2>
                                                </div>
                                                <ul>
                                                    <li class="distributor-info-li distributor-man-count">직원수 4명</li>
                                                    <li class="distributor-info-li distributor-phone-number">전화번호 :
                                                        02-1234-1234</li>
                                                    <li class="distributor-info-li distributor-response-time">연락 가능 시간 :
                                                        오전 7시 - 오후 11시</li>
                                                </ul>
                                            </div>
                                            <div class="distributor-info-box">
                                                <h2 class="info-title">업체 상세설명</h2>
                                                <div class="distributor-content">
                                                    숙련된 기술과최고의 서비스를 제공해드리며합리적인가격에최고의이사서비스를보여드리겠습니다
                                                </div>
                                            </div>
                                        </section> -->

                                        <section class="distributor-info-section">
                                            <div class="distributor-info-box">
                                                <div class="distributor-info-title-box">
                                                    <h2 class="info-title">댓글</h2>
                                                </div>
                                                <div class="reply-box">
                                                    <div class="reply-input-box">
                                                        <div class="reply-input-container">
                                                            <input type="text" class="reply-input" placeholder="댓글을 입력해주세요.">
                                                            <button type="button" class="reply-register-button">등록</button>
                                                        </div>
                                                        <div class="line"></div>
                                                    </div>

                                                    <ul class="reply-ul">

                                                        <li class="reply-li">
                                                            <article class="reply-register-member-box">
                                                                <section class="reply-register-member-section">
                                                                    <div class="reply-register-member-profile-box">
                                                                        <img src="/static/image/nomal-human.png" class="reply-register-member-profile">
                                                                    </div>
                                                                    <span class="reply-register-member-name">알로웅</span>
                                                                </section>
                                                                <div class="reply-content-box">
                                                                    <div class="reply-content-container">
                                                                        <p class="reply-content">상담때부터 너무 마음에 들었습니다 5군데 견적중에 마지막 집이었는데 사장님이 파이팅도 엄청 넘치시고 같이 원팀으로만 움직인다고 설명해주시면서 견적도 시원시원하게 내주셨습니다 견적비용도 비용이지만 이사하면서 옆에서 봐온결과 정말 열심히 일하시는구나 라고 느꼈습니다 앞으로 사업 번창하셨으면 좋겠네요!! 다음 이사할때도 계속 일을 하고계신다면 연락드리겠습니다^^</p>
                                                                    </div>
                                                                </div>
                                                                <section class="reply-footer">
                                                                    <div class="reply-register-time-box">
                                                                        <span class="reply-register-time">1분전</span>
                                                                    </div>
                                                                </section>
                                                            </article>
                                                        </li>

                                                        <li class="reply-li">
                                                            <article class="reply-register-member-box">
                                                                <section class="reply-register-member-section">
                                                                    <div class="reply-register-member-profile-box">
                                                                        <img src="/static/image/nomal-human.png" class="reply-register-member-profile">
                                                                    </div>
                                                                    <span class="reply-register-member-name">알로웅</span>
                                                                </section>
                                                                <div class="reply-content-box">
                                                                    <div class="reply-content-container">
                                                                        <p class="reply-content">상담때부터 너무 마음에 들었습니다 5군데 견적중에 마지막 집이었는데 사장님이 파이팅도 엄청 넘치시고 같이 원팀으로만 움직인다고 설명해주시면서 견적도 시원시원하게 내주셨습니다 견적비용도 비용이지만 이사하면서 옆에서 봐온결과 정말 열심히 일하시는구나 라고 느꼈습니다 앞으로 사업 번창하셨으면 좋겠네요!! 다음 이사할때도 계속 일을 하고계신다면 연락드리겠습니다^^</p>
                                                                    </div>
                                                                </div>
                                                                <section class="reply-footer">
                                                                    <div class="reply-register-time-box">
                                                                        <span class="reply-register-time">1분전</span>
                                                                    </div>
                                                                </section>
                                                            </article>
                                                        </li>

                                                    </ul>
                                                    <div class="reply-more-button-box">
                                                        <button type="button" class="reply-more-button">댓글 더보기</button>
                                                        <img src="/static/image/down-arrow-icon.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <!-- <section class="distributor-info-section">
                                            <div class="distributor-info-box">
                                                <div class="distributor-info-title-box">
                                                    <h2 class="info-title">포트폴리오</h2>
                                                </div>
                                                <div class="distributor-portfolio-box">
                                                    <section class="portfolio-section">
                                                        <img src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png" class="portfolio-file">
                                                    </section>
                                                    <section class="portfolio-section">
                                                        <img src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png" class="portfolio-file">
                                                    </section>
                                                    <section class="portfolio-section">
                                                        <img src="/static/image/t_3d27c205-0606-49cf-9835-23e4cc5ee1dc_original.jpg" class="portfolio-file">
                                                    </section>
                                                </div>
                                            </div>
                                        </section>         -->
                                    </div>
                                </div>
                            </div>
                            <div class="message-send-box">
                                <aside class="message-send-container">
                                    <div class="message-send-info-text">
                                        <p>xxx 유통업체에 </p>
                                        <p>쪽지를 보내서 문의해보세요.</p>
                                    </div>
                                    <div class="message-button-box">
                                        <button type="button" class="message-button">쪽지 보내기</button>
                                    </div>
                                </aside>
                            </div>
                        </div>

                        <!-- <div></div> -->
                        <!-- <div></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>