<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <title>일반사용자 - 마이페이지</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="mypage-box">
                <div id="header"></div>
                <div>
                    <h1 class="mypage-title">마이페이지</h1>
                    <div class="mypage-header-box">
                        <a href="#" class="mypage-header-container">
                            <div class="mypage-profile-box">
                                <div class="mypage-profile-container">
                                    <div class="mypage-profile-size mypage-profile"></div>
                                </div>
                            </div>
                            <div class="mypage-name-box">
                                <div class="mypage-name-container">
                                    <span class="mypage-name">이름명</span>
                                    <span class="mypage-text">고객님</span>
                                </div>
                            </div>
                            <div class="mypage-account-setting-box">
                                <button type="button" class="mypage-account-setting-button">계정설정</button>
                            </div>
                        </a>
                    </div>
                    <div class="mypage-menu-box">
                        <ul class="mypage-menu-ul">
                            <li class="mypage-main-menu">쪽지</li>
                            <li class="mypage-sub-menu">
                                <a href="#">
                                    <div class="mypage-sub-content-box">
                                        <div class="mypage-sub-content-container">
                                            <span>쪽지 보낸 목록</span>
                                        </div>
                                    </div>
                                    <div class="mypage-sub-content-arrow-box">
                                        <span class="mypage-sub-content-arrow-container">
                                            <img src="/static/image/arrow-icon.png">
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="mypage-sub-menu">
                                <a href="#">
                                    <div class="mypage-sub-content-box">
                                        <div class="mypage-sub-content-container">
                                            <span>쪽지 받은 목록</span>
                                        </div>
                                    </div>
                                    <div class="mypage-sub-content-arrow-box">
                                        <span class="mypage-sub-content-arrow-container">
                                            <img src="/static/image/arrow-icon.png">
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>