<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/board/free-board.css">
    <title>자유게시판 - 상세보기</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="board-box">
                <div class="header"></div>
                <div class="board-container">
                    <div class="board-content-box">
                        <section class="board-content-section">
                            <div class="board-content-flex">
                                <div class="board-content-header-box">
                                    <div class="board-category-box">
                                        <ol class="board-category-ol">
                                            <li class="board-category-li">
                                                <a href="#"><span>자유게시판</span></a>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="board-title-box">
                                        <h1 class="board-title">게시판의 제목입니다.</h1>
                                    </div>
                                    <div class="board-writer-info-box">
                                        <div class="board-writer-info-container">
                                            <div style="display: flex;">
                                                <img src="/static/image/nomal-human.png" class="profile-image">
                                                <div class="board-writer-info">
                                                    <span class="member-name normal-span">닉네임</span>
                                                    <span class="register-time normal-span">1분전</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="line">
                                <div class="board-content-body-box">
                                    <div class="board-content-body-container">
                                        <p class="board-content-p"><span>안녕하세요. 마곡나루역 사무실 쉐어 & 일거리 쉐어 하고자 합니다.
소규모로 운영하고 계시는 프로그램, 디자인, 영상, 마케팅 업이면 좋겠습니다.
그외도 관계 없습니다.
                                                
사무실 자리는 4자리 있습니다.
공용 공간으로 커뮤니티 룸 (미팅 & 회의시 아주 좋음), 미니 헬스장, 샤워장 있습니다.
                                                
간단소개 & 명함 주시면 추가 궁금한점 답변 드리겠습니다.
attida@naver.com / 카톡 m4plus</span></p>
                                    </div>
                                </div>
                                <div class="like-reply-count-box">
                                    <div class="like-count-box">
                                        <img src= "/static/image/no-fill-heart.png" class="heart">
                                        <p >좋아요<span class="like-count count">1</span></p>
                                    </div>
                                    <div class="reply-count-box">
                                        <img src="/static/image/chat-icon.png" class="reply-icon">
                                        <p >댓글<span class="reply-count count">1</span></p>
                                    </div>
                                </div>
                                <hr class="line"> 
                                <div class="reply-box">
                                    <div class="reply-register-box">
                                        <div class="reply-input-box">
                                            <textarea class="reply-input" maxlength="50" placeholder="댓글을 남겨보세요." rows="1"></textarea>
                                        </div>
                                        <div class="reply-register-button">등록</div>
                                    </div>

                                    <ul class="reply-list-ul">
                                        <li class="reply-list-li">
                                            <!-- <div class="reply-register-box">
                                                <div class="reply-input-box">
                                                    <textarea class="reply-input" maxlength="50" placeholder="댓글을 남겨보세요." rows="1"></textarea>
                                                </div>
                                                <div class="reply-register-button">수정</div>
                                            </div> -->
                                            <div class="reply-list-box">
                                                <div class="reply-writer-profile-box">
                                                    <img src="/static/image/t_f72e7365-87df-4806-9760-589ce2ab5f30_banner_3.png" class="reply-writer-profile">
                                                </div>
                                                <div class="reply-writer-info-box">
                                                    <div class="reply-writer-info">
                                                        <div class="reply-writer-name-box">
                                                            <span class="reply-writer-name">닉네임</span>
                                                        </div>
                                                    </div>
                                                    <div class="reply-content-box">
                                                        <p class="reply-content">
                                                            <span class="reply">댓글 내용입니다.</span>
                                                        </p>
                                                    </div>
                                                    <div class="reply-register-time-box">
                                                        <div class="reply-register-time">
                                                            <span class="register-time">21시간전</span>
                                                        </div>
                                                        <div class="reply-modify-button-box">
                                                            <button class="reply-modify-button"></button>
                                                            <ul class="reply-modify-button-ul">
                                                                <li>
                                                                    <div class="reply-change-button reply-fix-button">수정하기</div>
                                                                </li>
                                                                <li>
                                                                    <div class="reply-clear-button reply-fix-button">삭제하기</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>