@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding : 0;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}


button {
    border: none;
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
    color: #323232;
    background-color: transparent;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

input {
    outline: none;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.box {
    /* background: #fafafa; */
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

/* .container {
    background-color: rgb(0, 199, 174);
} */


.normal-bell{
    filter: invert(54%) sepia(90%) saturate(346%) hue-rotate(115deg) brightness(92%) contrast(80%);
}


