<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.dis.mapper.SmsKeyMapper">

    <!-- API 키 Secret KEY, 보내는 번호 가져오기  -->
    <select id="getSmsKey" resultType="SmsKeyVO">
        select sms_key_id, sms_api_key, sms_secret_key, sms_send_phoneNumber
        from tbl_sms_key order by sms_key_id desc limit 1;
    </select>
</mapper>